.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}.clearfix{display:inline-block}* html .clearfix{height:1%}.clearfix{display:block}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, font, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
  }

*::-moz-selection {
    background: #b4e7f8
	}

*::selection {
    background: #b4e7f8
	}

strong, b {
  font-weight: 600
  }

em, i {
  font-style: italic
  }

img {
  -ms-interpolation-mode: bicubic
  }

a {
	text-decoration: none;
	cursor: pointer;
	}

p img,
.photo img {
  max-width: 100%;
  height: auto;
  background: #fff;
  }

.video-container, .audio_player_wrap {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
  margin: 0 0 25px;
  }

.audio_player_wrap {
  padding-bottom: 3px;
  }

.video-container iframe,
.video-container object,
.video-container embed,
.audio_player_wrap iframe,
.audio_player_wrap object,
.audio_player_wrap embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  }




body {
  font-family: 'Univers LT W01_45 Light', sans-serif !important;
  color: #1e1e1c;
  background: #fff;
  text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	padding: 0;
}

a {
	color: #F0F0F0;
}

b {
    font-family: AvenirNext-DemiBold;
    font-size: 18px;
    color: #4C4C4C;
    line-height: 22px;
}

a:hover {
	text-decoration: underline;
	text-decoration-style: dashed;
}

.container {
  padding: 0px;
	max-width: 100%;
	margin: 0 auto;
}

.about-me {
  padding: 60px 0%;
  margin: 0 auto;
  max-width: 900px;
}

h1 {
  font-family: AvenirNext-DemiBold;
  font-size: 34px;
  color: #000000;
}

h3 {
	font-family: AvenirNext-Medium;
  font-size: 16px;
  color: #000000;
}

.hero {
	font-family: AvenirNext-DemiBold;
  font-size: 34px;
  color: #000000;
  line-height: 44px;
  width: 65%;
  padding-top: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid #EBEBEB;
}

p {
  font-family: AvenirNext-Regular;
  font-size: 18px;
  color: #000;
  line-height: 24px;
}

.intro {
  padding: 30px 0px 24px 0px;
	width: 100%;
}

.intro span {
  font-family: AvenirNext-DemiBold;
  font-size: 22px;
  color: #4C4C4C;
  line-height: 22px;
}

.intro-image {
	float: right;
	position: relative;
	padding-right: 20px;
	right: 0px;
	top: -20px;
}

h2 {
  font-family: AvenirNext-Medium;
  font-size: 16px;
  color: #EC6740;
	text-transform: uppercase;
}

p.skill-title {
	font-family: AvenirNext-DemiBold;
	font-size: 18px;
	color: #7A7A7A;
	line-height: 30px;
	text-transform: uppercase;
	padding: 5px 0 10px 0;
}


.detailed {
	padding-top: 10px;
}

p.detail-skill {
	font-family: AvenirNext-Regular;
	font-size: 14px;
	padding-bottom: 0 0 2px 0;
	color: #EC6740;
}

.about-me ul {
	padding-top: 20px;
	list-style-type: none;
	margin: 0 auto;
}

.about-me li  {
	width: 30%;
	display:inline-block;
	vertical-align: top;
	padding-right: 20px;
}

.sample-work {
  width: 100%;
  margin-top: 0px;
  background: #E6E6E6;
	padding: 40px 0 40px 0;
}

.sample-work ul {
	padding-top: 40px;
	padding-bottom: 20px;
	list-style-type: none;
	margin: 0 auto;
	width: 900px;
	text-align: center;
}

.sample-work li  {
	width: 430px;
	display:inline-block;
	vertical-align: top;
	margin: auto;
	padding-bottom: 30px;
}

.sample-work li:nth-child(even) {
	padding-left: 17px;
}

.sample-work li:nth-child(odd) {
	padding-right: 17px;
}

h3 {
  font-family: AvenirNext-Medium;
  font-size: 16px;
  color: #6E8096;
	text-transform: uppercase;
}

.title {
	text-align: center;
}

.internet {
  /*margin-top: 0 auto;*/
  padding: 60px 0%;
	width: 100%;
  background: #A9B0B8;
}

.internet .content {
	padding: 0px 10%;
	margin: 0 auto;
	max-width: 900px;
}

.writings {
  width: 400px;
  display: inline-block;
	margin-top: 40px;
	padding-right: 50px;
}

.writings ul {
  padding-top: 26px;
  list-style: none;
}

.writings ul li {
  padding-bottom: 30px;
}

h4 {
  font-family: AvenirNext-Medium;
  font-size: 16px;
  color: #656565;
}

.heading {
	text-align: center;
}

.section-title {
	line-height: 22px;
	border-bottom: 1px solid #979797;
	padding-bottom: 10px;
}

.article {
	font-family: AvenirNext-Medium;
	font-size: 16px;
	color: #E5E5E5;
	line-height: 23px;
	padding-top: 8px;
}

.post-title {
	font-family: AvenirNext-Regular;
	font-size: 28px;
	color: #E5E5E5;
	line-height: 30px;
	padding-bottom: 8px;
}

.post-description {
	font-family: AvenirNext-Regular;
	color: #52575C;
}

.find-me {
  display: inline-block;
	vertical-align: top;
	width: 400px;
	margin-top: 40px;
}

.find-me ul {
  padding-top: 26px;
  list-style: none;
}

.find-me ul li {
  padding-bottom: 10px;
}

.find-me .description {
	padding-top: 30px;
	color: #52575C;
}

.logo {
	float: right;
}


/*

.internet {
  width: 100%;
  margin-top: 0px;
  background: #A9B0B8;
}

.internet .content {
  width: 900px;
  padding: 40px 0 60px 0;
  margin: 0 auto;
  height: 500px;
}

.internet .content .writings {
  width: 400px;
  display: inline-block;
  float: left;
  position: relative;
  margin-right: 100px;
}

.internet .content h4 {
  font-family: AvenirNext-Medium;
  font-size: 16px;
  color: #656565;
  line-height: 22px;
  border-bottom: 1px solid #979797;
  padding-bottom: 10px;
}

.internet .content ul {
  padding-top: 26px;
  list-style: none;
}

.internet .content .writings ul li {
  padding-bottom: 30px;
}

.internet .content ul li h2 {
	font-family: AvenirNext-Regular;
	font-size: 28px;
	color: #F0F0F0;
	line-height: 32px;
}


.internet .content .writings ul li p {
	font-family: AvenirNext-Medium;
	font-size: 16px;
	color: #E5E5E5;
	line-height: 23px;
	padding-top: 8px;
}

.internet .content .find-me {
  width: 400px;
  display: inline-block;
}

.internet .content .find-me ul li  {
  padding-bottom: 15px;
  font-family: AvenirNext-Regular;
  font-size: 24px;
  color: #000000;
  line-height: 30px;
}

.internet h2.heading {
  font-family: AvenirNext-DemiBold;
  font-size: 24px;
  color: #656161;
  line-height: 22px;
  text-transform: uppercase;
  padding: 60px 0 0px 0;
  text-align: center;
}


@media (max-width: 600px) {
	.about-me h1.hero {
	  font-family: AvenirNext-DemiBold;
	  font-size: 34px;
	  color: #000000;
	  line-height: 44px;
	  width: 100%;
	  padding-top: 10px;
	  padding-bottom: 20px;
	  border-bottom: 1px solid #EBEBEB;
	}

	.about-me ul#skills li.skill:nth-child(odd) {
	    padding: 0 0px 0 0;
	    display: inline-block;
	    max-width: 100%;
			min-width: 10%;
	}

	.about-me ul#skills li.skill:nth-child(even) {
	    padding: 0px 0px 20px 0px;
	    display: inline-block;
			max-width: 100%;
	}

	.sample-work {
		display: none;
	}

	.internet .content .writings {
		width: 100%;
	  position: relative;
	  margin-right: 100px;
	}

	.internet .content .find-me {
	  width: 400px;
		float: left;
	}
}

@media only screen
and (min-device-width : 375px)
and (max-device-width : 667px)
and (orientation : portrait) { STYLES GO HERE
	.about-me h1.hero {
	  font-family: AvenirNext-DemiBold;
	  font-size: 34px;
	  color: #000000;
	  line-height: 44px;
	  width: 100%;
	  float: left;
	  padding-top: 10px;
	  padding-bottom: 20px;
	  border-bottom: 1px solid #EBEBEB;
	}

	.about-me ul#skills li.skill:nth-child(odd) {
	    padding: 0 0px 0 0;
	    display: inline-block;
	    max-width: 100%;
			min-width: 10%;
	}

	.about-me ul#skills li.skill:nth-child(even) {
	    padding: 0px 0px 20px 0px;
	    display: inline-block;
			max-width: 100%;
	}
	.sample-work {
		display: none;
	}
}
*/

@media only screen and (max-width: 40em)  {

	p {
		font-size: 20px;
	}

	.intro-image {
			visibility: hidden;
			height: 0px;
	}

	.about-me {
	  padding: 20px;
	  margin: 0 auto;
	  max-width: 100%;
	}

	.hero {
		font-family: AvenirNext-DemiBold;
	  font-size: 34px;
	  color: #000000;
	  line-height: 44px;
	  width: 100%;
	  padding-top: 10px;
	  padding-bottom: 20px;
	  border-bottom: 1px solid #EBEBEB;
	}

	.about-me li  {
		width: 100%;
		display:inline-block;
		vertical-align: top;
		padding-top: 10px;
	}

	.sample-work ul {
		padding-top: 10px;
		padding-bottom: 10px;
		list-style-type: none;
		margin: 0 auto;
		width: 100%;
		text-align: center;
	}

	.sample-work li  {
		width: 430px;
		display:inline-block;
		vertical-align: top;
		margin: auto;
		padding-bottom: 10px;
	}

	.sample-work li:nth-child(even) {
		padding-left: 0px;
	}

	.sample-work li:nth-child(odd) {
		padding-right: 0px;
	}

	.internet {
	  background: #A9B0B8;
	}

	.writings {
    width: 100%;
    display: inline-block;
    margin-top: 40px;
    padding-right: 80px;
	}

	.find-me {
		width: 100%;
		display: inline-block;
		margin-top: 40px;
	}

	.internet .content {
    padding: 0px 5%;
    margin: 0 auto;
    max-width: 900px;
	}

	.detailed {
		padding-top: 10px;
	}

	p.detail-skill {
		font-size: 14px;
		padding-bottom: 0 0 2px 0;
		color: #EC6740;
		display: inline-block;
		padding-right: 15px;
		padding-bottom: 5px;
	}

}
